<div class="modal">
    <div class="modal-dialog lb-block">
        <div class="modal-content lb-content">
            <div class="wall-post-header clearfix">
    			<a href="javascript:;" class="user-rounded-thumb user-rounded-36px">
    				<img src="../images/user-image-7.jpg" alt="">
    			</a>
    			<div class="wall-post-title">
    				<a class="wall-post-username" href="javascript:;">George Sami</a>
    				<a class="wall-post-time" href="javascript:;">1 hour ago</a>
    			</div>
    			<ul class="lb-action-buttons">
    				<li><a href="javascript:;" class="hide-lb"><i class="fa fa-times">&nbsp;</i></a></li>
    				<li><a href="javascript:;" class="hide-commentbox"><i class="fa fa-comments">&nbsp;</i></a></li>
    				<li>
    					<div class="dropdown">
    						<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    							<i class="fa fa-chevron-down">&nbsp;</i>
    						</a>
    						<ul class="dropdown-menu pull-right dd-arrow-top-right" aria-labelledby="dropdownMenu1">
    							<li><a href="#">Action</a></li>
    							<li><a href="#">Another action</a></li>
    							<li><a href="#">Something else here</a></li>
    							<li><a href="#">Separated link</a></li>
    						</ul>
    					</div>
    				</li>
    			</ul>
    		</div>
    		<div class="lb-commentbox">
    			<div class="wall-post-body">
    				<div class="wall-post-features">
    					<a href="javascript:;" class="post-ace-button"><i class="fa fa-thumbs-o-up">&nbsp;</i> Ace (<span>20</span>)</a>
    					<a href="javascript:;" data-toggle="modal" data-target="#sharePost"><i class="fa fa-share-alt">&nbsp;</i> Share (1420)</a>
    				</div>
    			</div>
    			<div class="lb-comment-list mCustomScrollbar">
    				<ul class="post-comments-list">
    					<li>
    						<div class="wall-post-header clearfix">
    							<a class="user-rounded-thumb user-rounded-36px" href="javascript:;">
    								<img alt="" src="../images/user-image-1.jpg">
    							</a>
    							<div class="wall-post-title">
    								<a href="javascript:;" class="wall-post-username">Richards Carlson</a>
    								<p>Mauris posuere nisi vitae aliquam condimentum. Praesent congue turpis diam,  sit amet posuere eros fermentum id. Curabitur sed velit arcu.</p>
    								<div class="post-comment-reply">
    									<a href="javascript:;">8 hrs</a>
    									<i>|</i>
    									<a href="javascript:;" class="post-ace-button"><i class="fa fa-thumbs-o-up">&nbsp;</i> Ace (<span>20</span>)</a>
    									<i>|</i>
    									<a href="javascript:;" class="post-reply-button"><i class="fa fa-reply">&nbsp;</i> Reply (14)</a>
    								</div>
    								<div class="comment-reply">
    									<ul>
    										<li>
    											<div class="wall-post-header clearfix">
    												<a class="user-rounded-thumb user-rounded-36px" href="javascript:;">
    													<img alt="" src="../images/user-image-2.jpg">
    												</a>
    												<div class="wall-post-title">
    													<a href="javascript:;" class="wall-post-username">Deepika Padekon</a>
    													<a href="javascript:;" class="wall-post-time">1 hour ago</a>
    													<p>Mauris posuere nisi vitae aliquam condimentum. Praesent congue turpis diam,  sit amet posuere eros fermentum id. Curabitur sed velit arcu.</p>
    													<div class="post-comment-reply">
    														<a href="javascript:;">8 hrs</a>
    														<i>|</i>
    														<a href="javascript:;" class="post-ace-button"><i class="fa fa-thumbs-o-up">&nbsp;</i> Ace (<span>20</span>)</a>
    													</div>
    												</div>
    											</div>
    										</li>
    									</ul>
    									<div class="comment-input-block">
    										<a href="javascript:;" class="user-rounded-thumb user-rounded-36px">
    											<img src="../images/user-image-7.jpg" alt="">
    										</a>
    										<label class="chat-attachment">
    											<i class="fa fa-paperclip">&nbsp;</i>
    											<input type="file" class="hide" name="chatAttachment" />
    										</label>
    										<div class="chat-smileys"><i class="fa fa-smile-o">&nbsp;</i></div>
    										<input type="hidden" name="commentID" value="valueHere"><textarea class="post-textarea" placeholder="Write a comment..."></textarea>
    									</div>
    								</div>
    							</div>
    						</div>
    					</li>
    					<li>
    						<div class="wall-post-header clearfix">
    							<a class="user-rounded-thumb user-rounded-36px" href="javascript:;">
    								<img alt="" src="../images/user-image-3.jpg">
    							</a>
    							<div class="wall-post-title">
    								<a href="javascript:;" class="wall-post-username">Sara J</a>
    								<p>Mauris posuere nisi vitae aliquam condimentum. Praesent congue turpis diam,  sit amet posuere eros fermentum id. Curabitur sed velit arcu.</p>
    								<div class="post-comment-reply">
    									<a href="javascript:;">8 hrs</a>
    									<i>|</i>
    									<a href="javascript:;" class="post-ace-button"><i class="fa fa-thumbs-o-up">&nbsp;</i> Ace (<span>20</span>)</a>
    									<i>|</i>
    									<a href="javascript:;" class="post-reply-button"><i class="fa fa-reply">&nbsp;</i> Reply (5)</a>
    								</div>
    								<div class="comment-reply">
    									<ul>
    										<li>
    											<div class="wall-post-header clearfix">
    												<a class="user-rounded-thumb user-rounded-36px" href="javascript:;">
    													<img alt="" src="../images/user-image-2.jpg">
    												</a>
    												<div class="wall-post-title">
    													<a href="javascript:;" class="wall-post-username">Deepika Padekon</a>
    													<a href="javascript:;" class="wall-post-time">1 hour ago</a>
    													<p>Mauris posuere nisi vitae aliquam condimentum. Praesent congue turpis diam,  sit amet posuere eros fermentum id. Curabitur sed velit arcu.</p>
    													<div class="post-comment-reply">
    														<a href="javascript:;">8 hrs</a>
    														<i>|</i>
    														<a href="javascript:;" class="post-ace-button"><i class="fa fa-thumbs-o-up">&nbsp;</i> Ace (<span>20</span>)</a>
    													</div>
    												</div>
    											</div>
    										</li>
    									</ul>
    									<div class="comment-input-block">
    										<a href="javascript:;" class="user-rounded-thumb user-rounded-36px">
    											<img src="../images/user-image-7.jpg" alt="">
    										</a>
    										<label class="chat-attachment">
    											<i class="fa fa-paperclip">&nbsp;</i>
    											<input type="file" class="hide" name="chatAttachment" />
    										</label>
    										<div class="chat-smileys"><i class="fa fa-smile-o">&nbsp;</i></div>
    										<input type="hidden" name="commentID" value="valueHere"><textarea class="post-textarea" placeholder="Write a comment..."></textarea>
    									</div>
    								</div>
    							</div>
    						</div>
    					</li>
    				</ul>
    			</div>
    			<div class="wall-post-footer">
    				<div class="comment-input-block">
    					<a href="javascript:;" class="user-rounded-thumb user-rounded-36px">
    						<img src="../images/user-image-1.jpg" alt="">
    					</a>
    					<label class="chat-attachment">
    						<i class="fa fa-paperclip">&nbsp;</i>
    						<input type="file" class="hide" name="chatAttachment" />
    					</label>
    					<div class="chat-smileys"><i class="fa fa-smile-o">&nbsp;</i></div>
    					<input type="hidden" name="commentID" value="valueHere"><textarea class="post-textarea" placeholder="Write a comment..."></textarea>
    				</div>
    			</div>
    		</div>
    		<div class="lb-photobox">
    			<div class="mCustomScrollbar lb-left-content">
    				<div class="lb-main-content">
                        <img ng-if="items.type === 'image'" ng-src="{{single.media}}" alt="">
                        <video ng-if="items.type === 'video'" controls preload="none" width="100%" height="450">
							<source ng-src="{{single.media}}" type="video/mp4" />
							<source ng-src="{{single.media}}" type="video/webm" />
							<source ng-src="{{single.media}}" type="video/ogg" />
							<p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
						</video>
                    </div>
    				<div ng-bind-html="single.postContent"></div>
    			</div>
    		</div>
        </div>
    </div>
</div>
